.bg-deep-purple{
    background-color: #af8eb5!important;
    color: black!important;
}

.bg-blue {
    background-color: #0069c0!important;
    color: white;
}

.bg-light-blue {
    background-color: #90caf9!important;
    color: black;

    a {
        color: blue;
    }
}

.bg-green{
    background-color: #81c784!important;
}

.bg-light-green {
    background-color: #a5d6a7!important;
}

.bg-teal{
    background-color: #b2fef7!important;
}