// Logo
.navbar-brand {
    padding: 0em;
    align-self: center;
    width: 100%;
}

.navbar {
    display: block;
}

.title-background {
    height: 30em;

    .title-gradient {
        background-image: linear-gradient( rgba(255,0,0,0), rgba(0, 46, 75, 1));
        
        .title{
            color: white;
        }
    }
}



.mobile-navbar {
    background-color: var(--primary);
    padding-top: .5em;
    margin-top: 1em;

    .primary-menu {
        color: white !important;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 35 35' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
}

.menu--main {
    width: 100%;
    align-self: center;
}

// This is used for hover dropdown.

//  ul.nav li.dropdown:hover > ul.dropdown-menu {
//     display: block;
// }

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.colorful-nav {
    font-size: 1.2em;
    font-weight: bold;

    li {
        flex: 1 1 auto;
        text-align: center;

        &:hover {
            background: #0277bd;
            color: white;
            text-decoration: none;
        }

        .active {
            border-bottom: 4px solid white;
        }

        a {
            padding: .7em 1em !important;
            display: block;
            text-align: center;
            width: 100%;
            color: var(--primary);



        }
    }

    .about-us {
        background-color: var(--blue);
    }

    .community-health-programs {
        background-color: var(--pink);
    }

    .youth-programs {
        background-color: var(--deep-purple);
    }

    .news-and-events {
        background-color: var(--deep-orange);
    }

    .donations {
        background-color: var(--green);
    }

}

.dropdown-menu {
    li {
        background-color: white;

        .is-active {
            border-bottom: 2px solid var(--blue);
        }

        a {
            color: var(--blue);
            padding: .5em 1em !important;

        }

        &:hover {
            background-color: var(--light);
        }
    }
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: unset;
}