.nav-wrapper {
    min-height: 50px;
}

.title {
text-align: center;
}

.navbar-brand img {
    width: 11em;
}


.club-divider {
    border: 1px solid #444444;
    width: 50%;
}

.social-buttons {
    margin-top: .5em;

    img {
        width: 10%;
        margin: .4em;
    }

    @include media-breakpoint-up(md) {
        img {
            width: 13%;
        }
    }
}

.footer-divider {
    border-top: 3px solid white;
    padding: 3em;
    text-align: center;
}


@include media-breakpoint-up(md) {

    .footer-divider {
        border-top: unset;
        border-left: 3px solid white;
        padding: 3em;
        text-align: left;
    }

}

.main-content.col,
.node {
    padding-left: 0;
    padding-right: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, body, .body {
    font-family: 'Libre Franklin', sans-serif;
}

.no-decoration {
    text-decoration: none!important;
}

.text-bold{
    font-weight: bold;
}