.block-views-blocknews-publications-recent-news-block {
    margin: 5em 5%;
}

.news-thumbnail {
    border-radius: 50% !important;
    border: .1em solid var(--blue);

}

.news-title {
    a {
        color: var(--blue);
    }

    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.news-item{
    justify-content: center;
    display: flex;
    flex-direction: column;

    a{
        display:flex;
        justify-content: center;
    }
}