.featured-divider{
    width: 50%;
    border: .1em solid white;
}

.bgc-paragraph {
    padding-top: 4em;
    padding-bottom: 4em;
}

.text-light {

    h1,h2,h3,h4,h5 {
        color: #eeeeee!important;
    }
}

.bgc-paragraph-featured {
    padding-top: 5em;
    padding-bottom: 5em;
}
