.paragraph--type--slider{
    margin-bottom: 1em; 
}

.bgc-slider{
    border-bottom: .2em solid white;
    border-top: .2em solid white;
    margin-bottom: 0em;


    .slider-message{
        padding: 2em;
        width:100%;
        background-color: rgba(50,50,50, .4);
    }

    h1, h2, h3, h4, h5, p {
        color: white;
        display: inline-block;
        padding: .2em;
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2.7em;
    }
    h3{
        font-size: 2.4em;
    }
    p{
        font-size: 1.8em;
    }
}

@include media-breakpoint-down(sm) {
    .card-img-overlay-slider{
        position: unset;
    }
}